body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fdbe00;
}
header{
    background-color: #fdca00;
    height: 10%;
    width: 100%;
    opacity: .9;
    margin-bottom: 2%;
}
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color:#1198d2;
}
.container {
    padding-top: 2%; 
    width: 50%; 
    margin: 0 auto; 
} 
.container label { 
    font-weight: bold; 
    margin-bottom: 2em; 
    margin-left: 2em; 
    color: #377ba8; 
} 
.container input { 
    margin-bottom: 1em; 
    margin-left: 2em; 
} 

.container textarea { 
    min-height: 12em; 
    resize: vertical; 
}
.container h2{
    color:#1198d2;
}